<!-- Begin Speakers List 2-->
<section id="organizerGDG">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 appear-animation-trigger">
            {% for organizer in site.data.organizerGDG %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#speakerDetail-{{ organizer.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/organizersGDG/' | append: organizer.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        {% if organizer.ribbon != null %}
                        <ul class="ribbon-wrapper">
                            {% for ribbon in organizer.ribbon %}
                            <li class="{{ ribbon["abbr"] | downcase }}">
                                <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name">{{ organizer.name }} <span>{{ organizer.name }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ organizer.name }}</span>
                            </div>
                        
                        </figcaption>
                      
                    </figure>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
</section>
<!-- End Speakers List 2 -->