<!-- Begin organizer gdg Section -->
<section id="organizer-gdg" class="organizer-gdg image-section parallax" style="background-image: url({{ site.baseurl}}/img/sections-background/{{ site.organizerGDGImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 organizer-gdg-list">
			<h3 id="organizer-gdg-title">{{ site.organizerGDGTitle}}</h3>
			<div class="clearfix"></div> 
			<span class="bordered">
			</span>
		</div>
	</div>
</section>
<!-- End  organizer gdg  Section -->



